main{
  min-height: 100vh;

}
.container{
  margin: 0 auto;
  max-width: 900px;
  z-index: 10;

  @media screen and (max-width: 600px) {
    width: 85%;
  }
}
.presentation{

  
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
      width: 100%;
    }

    .presentation{
      &_images{
        height: 40vh;
        grid-column: 1;
        display: flex;

        
        @media screen and (max-width: 600px) {
          width: 90%;
          justify-content: center;
        }
        img{
          height: 60%;
          align-self: flex-end;

          @media screen and (max-width: 600px) {
            height: auto;
            width: 80%;
          }
        }
      }
      &_card-list{
        grid-column: 1/-1;
      }
    }
  }
  position: relative;
  .float-image{
    top: 0;
    position: absolute;
    z-index: 0;
    height: 90vh;
    right: 0;

    @media screen and (max-width: 600px) {
      height: 50vh;
      right: 0;
    }
  }
}